@model IEnumerable<swatiSystem.Empleado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_Empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula_Identidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_Inss)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario_Bruto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vacaciones_Acumulados)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreadoEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualizadoEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Antiguedad_Empleado.Concepto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo_Empleado.Puesto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_Empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula_Identidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_Inss)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salario_Bruto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vacaciones_Acumulados)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreadoEn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualizadoEn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Antiguedad_Empleado.Concepto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cargo_Empleado.Puesto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
