@model IEnumerable<swatiSystem.Horas_Extras_Empleado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pago_Por_Hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concepto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inicio_Laboral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finalizacion_Laboral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Laboral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreadoEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualizadoEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Codigo_Empleado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pago_Por_Hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Concepto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inicio_Laboral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Finalizacion_Laboral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Laboral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreadoEn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualizadoEn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Codigo_Empleado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
